body {
  background:url(../img/clutchpicksheader1.jpg)no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
}

a {
  color:white;
}

.btn-primary, .btn-primary.active {
  color: #fff;
  background-color: rgba(126, 129, 132, 0);
  border-color: #FFFFFF;
  width: 200px;
  margin-left: 200px;
}

.btn-primary:hover {
  background-color: white;
  color:black;
}

.col-md-6 {
  margin-left: 300px;
}

footer {
  margin-top: 200px;
  color: black;
  font-family: 'Oxygen', sans-serif;
  font-size: 10px;
}
.form-control {
  background-color: rgba(126, 129, 132, 0);
  margin-left: 15px;
  font-family: 'Oxygen', sans-serif;
  width: 250px;
  border-color: #FFFFFF;
  color: white !important;
}
.form-control::-webkit-input-placeholder {
  color: white;
}


.form-inline {
  font-family: 'Oxygen', sans-serif;
  color: white;
}

h2 {
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  color:white;
  font-weight: 500;

}

h4 {
  font-family: 'Raleway', sans-serif;
  color:white;
  
}

.jumbotron {
  margin-top: 50px;
  margin-left: -20px;
  width:1200px;
  height: 500px;
  background-color: rgba(200, 218, 229, .40);

}

.jumbotron i {
  margin-left: 450px;
  color: white;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    margin-left: 400px;
    font-weight: 300;
    font-family: 'Oxygen', sans-serif;

  }

.main {
  width:100%
}
.main h1 {
color: white;
text-align: center;
margin-top: 50px;
font-family: 'Raleway', sans-serif;
font-size: 150px;
}
.navbar {
  min-height: 30px;
}
.navbar-nav > li > a, .navbar-brand {
  padding-top: 5px;
  padding-bottom: 0;
  height:30px;
}

.navbar li {
  font-family: 'Oxygen', sans-serif;
}
.navbar-brand {
  float: left;
  padding-top:7px;
  font-size: 18px;
  line-height: 20px;
  color: red;
  font-family: 'Oxygen', sans-serif;
}

.section-header {
      margin-left: -250px;
      margin-top: 15px;
      width: 500px;
}

.subscribe {
  margin-left: 250px;
  margin-top:10px;
  font-family: 'Oxygen', sans-serif;

}
/* Package Table*/

.btn-custom {
  color: #bdc3c7;
  font-size: 18px;
  border: 1px solid #bdc3c7;
}
.btn-custom:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}
#pricing-table {
  padding-top: 50px;
}
#pricing-table .pricing {
  marign: 0;
  padding: 0;
  font-family: 'Robot', sans-serif;
}
#pricing-table .pricing .pricing-table {
  padding-bottom: 30px;
}
#pricing-table .pricing .pricing-table .pricing-header {
  position: relative;
  background: #34495e;
  padding: 22px 22px;
  text-align: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-title {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  text-align: center;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate sup {
  font-size: 24px;
  position: relative;
  top: -30px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-table .pricing-header .pricing-rate span {
  font-size: 16px;
  color: #bdc3c7;
  text-transform: uppercase;
}
#pricing-table .pricing .pricing-list {
  padding: 20px 0 40px 0;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}
#pricing-table .pricing .pricing-list ul {
  padding: 0px;
  display: table;
  margin: 0px auto;
}
#pricing-table .pricing .pricing-list ul li {
  list-style: none;
  border-bottom: 1px solid #EAECEB;
  color: #bdc3c7;
  font-size: 16px;
  line-height: 42px;
}
#pricing-table .pricing .pricing-list ul li:last-child {
  border: none;
}
#pricing-table .pricing .pricing-list ul li i {
  margin-right: 12px;
  color: #bdc3c7;
}
#pricing-table .pricing .pricing-list ul li span {
  color: #34495e;
}


/* Table Style for Records */

.tablerecords {
  width: 100%;
  border-style: solid;
  border-color: white;
  color:white;

}

.tableheader {
  border-style: dashed;
  border-color: white;
}

span {
  font-style: italic;
  color: yellow;
}
